# WPPConnect Configuration
WPPCONNECT_BASE_URL=http://localhost:21465
WPPCONNECT_SECRET_KEY=THISISMYSECURETOKEN
WPPCONNECT_SESSION_NAME=NERDWHATS_AMERICA
WPPCONNECT_TOKEN=your_generated_token

# GROQ Configuration
GROQ_API_KEY=your_groq_api_key

# Postgres Configuration
PSQL_USERNAME=db_user
PSQL_PASSWORD=db_password
PSQL_HOST=db_host
PSQL_PORT=5432
PSQL_DATABASE=db_name
PSQL_SSLMODE=db_sslmode
PSQL_CONNECTION_STRING=postgresql://${PSQL_USERNAME}:${PSQL_PASSWORD}@${PSQL_HOST}/${PSQL_DATABASE}?sslmode=${PSQL_SSLMODE}

# Whatsapp Configuration
WAIT_TIME=time_to_wait_before_inference
LANGUAGE=transcription_langugage for example en (english) or pt (for brazilian portuguese)